/* Head section Design */
.headContainer {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-blend-mode: multiply;
    background-size: 1980px;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 340px;
    border-radius: 16px;
}

.hny {
    padding: 0px 531px 0px 530px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.party {
    padding: 0px 344px 280px 344px;
    display: flex;
    margin: -45px auto;
    max-width: 632px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* Discount section design  */
.discount {
    margin: 120px;
    text-align: center;
}

.discTitle {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.description {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: -48px;
}

.subTitle {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: -20px;
}