/* Head section Design */
.headContainer {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-blend-mode: multiply;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 340px;
    border-radius: 16px;
}

.hny {
    padding: 0px 531px 0px 530px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.party {
    padding: 0px 344px 280px 344px;
    display: flex;
    margin: -45px auto;
    max-width: 632px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* Main Section Design */
main {
    margin: 0px 140px;
}

/* Discount section design  */
.discount {
    margin: 120px;
    text-align: center;
}

.discTitle {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.description {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: -48px;
}

.subTitle {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: -20px;
}

/* party Section */
.midNight {
    margin: 20px auto;
    background-image: url(../resources/Vectorrr.png);
    background-position: center;
    padding: 50px 1px;
    background-repeat: no-repeat;
    background-size: contain;
    /* width: 75%; */
}

.midNight>div {
    padding: 120px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 2%;
    display: flex;
    margin: 50px 0px;
}

.party2 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.partyDesc {
    max-width: 650px;
    color: rgba(255, 255, 255, 0.80);
    margin-top: -20px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.join {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: 0;
    margin: 48px 32px;
}

/* Event Details Section */
.eventDetails {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    background-position: center;
    margin: 50px 0px;
    text-align: center;
}

.details {
    padding: 150px 524px 24px;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.details span {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.btnSecondary {
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    border: 0;
    padding: 16px 32px;
    gap: 10px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 85px;
}

/* Coming Soon Section  */
.comingSoon {
    display: flex;
    margin: 120px 0px;
    justify-content: space-between;
}

.csTitle {
    margin: 0px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.csDescription {
    color: #F00;
    margin-bottom: 16px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.csDescription2 {
    margin-top: 35px;
    max-width: 392px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.csYearContainer h3 {
    font-size: 48px;
    font-weight: 700px;
}

.csimgContainer {
    width: 300px;
    height: 300px;
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 49.08px;
}

.csimgContainer>img {
    height: 300px;
}

.csYearContainer img {
    margin-top: 25px;
}

/* Holiday Sale Section */
.holiday {
    text-align: center;
}

.textfunctional {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.sale {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: -45px;
}

.sale>span {
    color: #F00;
}

.holyDescription {
    text-align: center;
    max-width: 1068px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin: -25px auto;
    /* 160% */
}

.imagebox {
    background-image: url('../resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    height: 662px;
    background-repeat: none;
    background-position: right top;
    margin-top: 200px;
    justify-content: space-between;
}

.bigContainer{
    margin-top: 50px;
    height: 710px;
    width: 1600px;
    background-image: url('../resources/Rectangle\ 1.png'),url('../resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-size: auto, 1600px;
    background-position: right top,bottom;
}


.imgContainer{
    display: flex;
    justify-content: space-between;
}

.boxImg{
    height: 550px;
    margin: 80px 0px 0px 80px;
}

.discImg {
    padding: 80px 285px 0px 0px;
    text-align: right;
    height: 300px;
    width: 300px;
}

.test {
    background-image: url('../resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-blend-mode: screen;
    background-size: 2000px 220px;
    border: solid black 2px;
    margin-top: -650px;
}

/* Portfolio section design  */
.portfolio {
    margin-top: 250px;
}

.portfolio>h2 {
    margin: -45px 0px;
    border-radius: 16px;
}

.portfolio>p {
    margin-top: 70px;
}

.portImage {
    margin: 0px 58px 30px 0px;
    height: 500px;
}

.portImage:hover {
    border: #F00 2px solid;
    border-radius: 7%;
    box-shadow: grey 5px 5px 5px;
}

/* Subscribe Section */
.subscribe {
    margin: 150px 0px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 150px 0px 30px 0px;
}

.subscribe p {
    margin: auto;
    max-width: 900px;
}

.mailAddress {
    margin: 70px;
    height: 70px;
    width: 600px;
    border: 0;
    border-radius: 75px;
    padding-left: 85px;
}

.btnsubscribe {
    margin-left: -120px;
    height: 70px;
    width: 200px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

footer {
    padding: 120px;
    background-color: #070211;
}

.footeraddress {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin: 20px;
}

.viraddress div {
    display: flex;
}

.viraddress img {
    height: 24px;
    width: 24px;
    padding-right: 20px;
}

.viraddress p {
    margin: -10px 150px 0px 0px;
}

.iconsContainer {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 50px;
    text-align: center;
}

.icons {
    padding-right: 25px;
}

.reserve {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;
}